body{
      background-color: #28223F;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: "Roboto", sans-serif;
}
.card_container{
      margin-top: 100px;
      width: 300px;
      height: auto;
      padding: 20px 20px;
      background-color: #231E39;
      flex-direction: column;
      border-radius: 5px;
    
}
.pro{
      justify-content: center;
      align-items: center;
      display: flex;
      border-radius: 5px;
      width: 40px;
      padding: 4px 4px;
      background-color: rgb(255, 200, 0);
}
.profile_contaner{
    
      justify-content: center;
      align-items: center;
      display: flex;

}
.profile{     
      padding: 5px 5px  ;
      width: 150px; height: 150px; 
      border-radius: 50%;
      border: 2px solid aqua;
      
}
.profile img{
      width: 150px; height: 150px;
      border-radius:50% ;
      object-fit: cover;
}
.text_bg{
      color: whitesmoke;
      text-align: center;
      
      justify-content: center;
      align-items: center;
      display: flex;
      
}
.bg_btn{
      display: flex;
      justify-content: center;
      align-items: center;
}
.bg_btn .btn1{
      padding: 10px;
      width: 100px; 
      background-color: aqua;
      outline: none;
      border: none;
      border-radius: 5px;
}
.bg_btn .btn2 {
      color: whitesmoke;
      padding: 10px;
      width: 100px;
      border: 1px solid aqua;
      border-radius: 5px;
      background-color: transparent; /* This removes the background */
}

ul li{
      list-style-type: none;
    
     
}
p{
      color: whitesmoke;
}
button{
      margin: 2px 2px ;
      color: whitesmoke;
      padding: 5px; 
      border: 1px solid whitesmoke;
      border-radius: 3px;
      background-color: transparent; /* This removes the background */
}

    